$primary-color: rgb(0, 154, 129);
$secondary-color: rgb(85, 102, 128);
$primary-text: rgb(0, 0, 0);
$primary-text-dim: rgb(50, 50, 50);
$secondary-text: rgb(230, 230, 230);
$error-color: rgb(231, 82, 68);
$background-color: rgb(209, 232, 223);
$link-color: rgb(128, 74, 90);
$box-shadow: #ababab;
$box-shadow-dark: #565656;

$app-height: 90vh;
$app-width: 90%;

$app-height-small: 95vh;
$app-width-small: 95%;

$sidebar-width: 25%;
$header-height: 150px;
$goal-image-size: 14vmin;
$goal-image-size-small: 12vmin;
$goal-image-border: 0.5vmin;

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-text;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--after-open {
  button {
    outline: none;
  }

  .nav-btn {
    text-align: right;

    .App-Nav-Btn {
      min-width: 100px;
      padding: 8px;
      font-size: 1rem;
      font-weight: 400;
      background-color: $primary-color;
      color: $secondary-text;
      text-transform: uppercase;
      cursor: pointer;
      border: none;

      @media only screen and (max-width: 450px) {
        min-width: 75px;
        font-size: 0.8rem;
      }
    }

    .App-Nav-Btn:first-child {
      border-right: 1px solid rgba($background-color, 0.5);
    }
  }

  .target-page-buttons {
    display: grid;
    grid-auto-flow: row;
    align-content: flex-start;
    grid-gap: 10px;
    justify-content: center;
    grid-auto-columns: 90%;

    @media only screen and (max-width: 450px) {
    }
    .ButtonGroup {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
      justify-items: center;

      @media only screen and (max-width: 450px) {
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        grid-template-row: 1fr auto;
      }

      .ButtonLabel {
        grid-row: 1/1;
        grid-column: 1/3;
        align-self: center;
        margin: 0;
        font-variant: all-small-caps;
        font-weight: 400;

        @media only screen and (max-width: 450px) {
          grid-row: 1/1;
          grid-column: 1/3;
          padding: 0;
          margin: 0;
          padding-bottom: 5px;
          font-size: 0.8rem;
        }
      }

      .Interaction-Status {
        margin: 0;
        text-transform: uppercase;
        font-weight: 900;
        text-align: right;
        grid-row: 3/3;
        grid-column: 1/3;
        text-align: center;

        @media only screen and (max-width: 450px) {
          grid-row: 3/3;
          grid-column: 1/3;
          text-align: center;
          padding: 0;
          margin: 0;
          padding-top: 5px;
          font-size: 0.8rem;
        }
      }

      .ButtonInGroup {
        font-size: 1.2rem;
        font-weight: 300;
        background-color: $primary-color;
        color: $secondary-text;
        cursor: pointer;
        border: none;
        padding: 10px 24px;
        width: 100%;

        @media only screen and (max-width: 450px) {
          font-size: 2rem;
          font-weight: 900;
          grid-row: 2/2;
          width: 100%;
          height: 100%;
        }
      } /* ButtonInGroup */

      .ButtonInGroup:first-of-type {
        border-right: 1px solid rgba($background-color, 0.5);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .ButtonInGroup:last-of-type {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .BtnClicked {
        background-color: darken($color: $primary-color, $amount: 10%);
      }
    }

    .add-btn .App-Nav-Btn {
      width: 100%;
      height: 3em;
      margin-top: 20px;
      border-radius: 50px;
    }
  }
}

.App {
  width: $app-width;
  height: $app-height;

  background-color: #eee;

  -webkit-box-shadow: 0px 0px 3px 0px $box-shadow;
  -moz-box-shadow: 0px 0px 3px 0px $box-shadow;
  box-shadow: 0px 0px 3px 0px $box-shadow;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: $sidebar-width 1fr;

  @media only screen and (max-width: 768px) {
    width: $app-width-small;
    height: $app-height-small;

    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
  }

  @media only screen and (max-width: 1024px) {
    width: $app-width-small;
    height: $app-height-small;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #555;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .App-sidebar {
    background-color: $background-color;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr 75px;
    grid-column: 1/1;

    max-height: 100vh;

    font-size: calc(9px + 0.8vmin);
    color: $primary-text;

    -webkit-box-shadow: 1px 0px 7px 0px $box-shadow-dark;
    -moz-box-shadow: 1px 0px 7px 0px $box-shadow-dark;
    box-shadow: 1px 0px 7px 0px $box-shadow-dark;

    @media only screen and (max-width: 768px) {
      grid-auto-flow: column;
      grid-template-columns: auto 1fr 75px;
      grid-template-rows: auto;
    }

    .App-header {
      background: url("./images/header.jpg");
      background-position: center;
      background-size: cover;
      height: $header-height;
      border-bottom: 5px solid $primary-color;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .App-info {
      padding: 16px;

      & > p:not(:last-child) {
        margin: 0;
      }

      & > p:first-child {
        text-transform: uppercase;
        color: grey;
      }

      & > p:nth-child(2) {
        font-size: 1.2rem;
        font-weight: 300;
        border-bottom: 1px solid grey;
        padding-bottom: 12px;
      }

      & > p:last-child {
        font-size: calc(0.4rem + 1vh);
      }

      .sidebar-info-h4 {
        margin-top: 15px;
      }

      .sidebar-record-table {
        font-size: 85%;
        min-width: 100%;

        p {
          margin: 0;
        }
      }
    }

    .App-footer {
      background-color: $primary-color;
      background-image: url("./images/NMBUwhite.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;

      @media only screen and (max-width: 768px) {
        background-image: url("./images/NMBUwhiteRot.svg");
        background-position: top;
        grid-column: 3/3;
      }
    }
  }

  .App-main {
    color: $primary-text;
    padding: 25px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
    background-color: whitesmoke;
    grid-gap: 10px;
    grid-column: 2/2;
    overflow-y: auto;

    &:after {
      content: "";
      display: block;
      height: 8px;
    }

    @media only screen and (max-width: 768px) {
      flex: 1;
      overflow-y: scroll;
      padding: 10px;
    }

    .cover-page {
      display: grid;
      grid-auto-flow: row;
      align-content: space-between;
      grid-template-rows: auto 1fr auto;

      img {
        max-width: 100%;
      }
    }

    form {
      display: grid;
      grid-gap: 10px;
      justify-content: flex-start;
      align-items: center;
      grid-template-columns: max-content 1fr;
      grid-auto-rows: max-content;

      @media only screen and (max-width: 850px) {
        grid-template-columns: 1fr;
      }

      .app-input-label {
        text-align: right;
        font-weight: 600;

        @media only screen and (max-width: 850px) {
          text-align: inherit;
        }
      }

      .App-form-field {
        .App-Form-Error {
          font-size: 70%;
          color: red;
          padding-bottom: 5px;
        }

        .App-Form-Inputs.has-error {
          border-color: red;
        }

        .App-Form-Inputs:not(.css-2b097c-container) {
          font-size: 16px;
          font-weight: 400;
          padding: 8px 12px;
          display: inline-block;
          border: 1px solid hsl(0, 0%, 80%);
          border-radius: 4px;
          box-sizing: border-box;
          width: 100%;
          background-color: white;
          color: hsl(0, 0%, 15%);
        }
        .css-2b097c-container {
          padding: 0;
        }
      }
    }

    .nav-btn {
      text-align: right;

      .App-Nav-Btn {
        min-width: 100px;
        padding: 8px;
        font-size: 1rem;
        font-weight: 400;
        background-color: $primary-color;
        color: $secondary-text;
        text-transform: uppercase;
        cursor: pointer;
        border: none;

        @media only screen and (max-width: 450px) {
          min-width: 75px;
          font-size: 0.8rem;
        }
      }

      .App-Nav-Btn:first-child {
        border-right: 1px solid rgba($background-color, 0.5);
      }

      .add-btn .App-Nav-Btn {
        width: 100%;
        height: 3em;
        margin-top: 20px;
        border-radius: 50px;
      }
    }

    .image-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, $goal-image-size);
      grid-template-rows: repeat(auto-fit, $goal-image-size);
      grid-gap: 8px;

      @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(auto-fit, $goal-image-size-small);
        grid-template-rows: repeat(auto-fit, $goal-image-size-small);
      }

      input {
        width: 100%;
        height: auto;
        cursor: pointer;

        @media only screen and (max-width: 768px) {
          width: 100%;
          height: auto;
        }
      } /* input */

      input.selected {
        width: $goal-image-size - 2 * $goal-image-border;
        height: $goal-image-size - 2 * $goal-image-border;
        cursor: pointer;
        border: $goal-image-border solid $link-color;

        @media only screen and (max-width: 768px) {
          width: $goal-image-size-small - 2 * $goal-image-border;
          height: $goal-image-size-small - 2 * $goal-image-border;
        }
      } /* input.selected */
    } /* image-grid */

    .goal-details {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: max-content 1fr;
      grid-gap: 3px;

      @media only screen and (max-width: 450px) {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-template-row: 1fr 1fr;
      }

      p {
        margin: 0;
        padding: 10px;
        font-size: 0.9rem;

        @media only screen and (max-width: 450px) {
          padding: 5px;
          font-weight: 300;
          font-size: 0.8rem;
        }
      }

      p:nth-child(2n) {
        background-color: rgba($background-color, 0.4);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      p:nth-child(2n + 1) {
        font-weight: 700;
        text-transform: uppercase;
        color: whitesmoke;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        @media only screen and (max-width: 450px) {
          display: none;
        }
      }
    }

    .target-join {
      position: absolute;
      width: 2px;
      margin-top: -1px;
      background-color: $primary-color;
    }

    .target-panel {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1vw;

      .goal-header {
        grid-row: 1/1;
        display: grid;
        margin-bottom: 1vh;
        padding-bottom: 1vh;
        border-bottom: 2px solid #009a81;
        grid-auto-flow: column;
        grid-gap: 10px;
        grid-template-columns: 12vmin 1fr;

        @media only screen and (max-width: 450px) {
          grid-template-columns: 15% 1fr;
          grid-template-rows: 1fr 0 0;
          grid-gap: 5px;
          /* justify-items: center; */
        }

        img {
          width: 100%;

          @media only screen and (max-width: 450px) {
            width: 100%;
          }
        }

        p {
          margin: 0;
          font-weight: 600;
          font-size: 1.7vmax;

          @media only screen and (max-width: 450px) {
            font-weight: 300;
            font-size: 0.7rem;
          }
        }
        
        p:first-child {
          margin-bottom: 10px;
        }

        p:last-child {
          font-size: 1.5vmin;
          font-weight: 400;

          @media only screen and (max-width: 450px) {
            display: none;
          }
        }
      }

      .target-list {
        grid-row: 2/2;
        max-height: 45vh;
        overflow-y: auto;

        @media only screen and (max-width: 450px) {
          max-height: 40vh;
        }

        .target-btn {
          color: $primary-text;
          background: none;
          border: none;
          margin: 0;
          padding: 0;
        }
        .target-btn:hover {
          color: $primary-text;
          background: none;
          border: none;
          margin: 0;
          padding: 0;
          text-align: inherit;
        }
        .target-btn:focus {
          outline: none;
        }

        .clicked-target-btn {
          text-align: inherit;

          &:after {
            content: no-close-quote;
            position: absolute;
            opacity: 0;
          }
        }

        .target-text {
          margin: 0;
          text-overflow: ellipsis;
          font-size: calc(8px + 0.6vmin);
          padding: 8px 0;
          white-space: pre;
          overflow: hidden;
          border-bottom: 1px solid #ccc;
          width: 28vw;
          text-align: left;

          @media only screen and (max-width: 450px) {
            width: 35vw;
          }

          .target-id {
            font-weight: 600;
            display: inline-block;
            width: 30px;
            text-align: right;
            margin-right: 5px;
            border-right: 1px solid #ccc;
            padding-right: 5px;
          }
        }

        .clicked-target-btn .target-text {
          text-overflow: unset;
          white-space: initial;
          overflow: unset;
          line-height: 150%;
          font-weight: 600;
          font-size: calc(8px + 0.5vmin);

          .target-id {
            color: $primary-color;
            font-weight: 900;
            background-color: $background-color;
          }
        }

        .target-btn:disabled .target-text {
          color: $primary-text-dim;
        }

        .target-text:hover {
          text-overflow: unset;
          white-space: initial;
          overflow: unset;
          line-height: 150%;
          font-weight: 600;
          font-size: calc(8px + 0.5vmin);

          .target-id {
            color: $primary-color;
            font-weight: 900;
            background-color: $background-color;
          }
        }
      }
    } /* target-panel END */

    .summary-panel {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1vmax;

      @media only screen and (max-width: 768px) {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
      }

      .form-data-panel {
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-gap: 2vh;

        .smry-label {
          font-weight: 600;
          font-size: 90%;
          font-variant: all-small-caps;
          color: #555;
        }

        .smry-txt {
          font-weight: 300;
          padding-left: 5px;
          border-left: 2px solid $primary-color;
          margin: 5px 10px;
        }
      }
      .sdg-data-panel {
        svg {
          g.all {
            transform: translate(220px, 220px);
          }
        }
      }
    }

    p.center {
      text-align: center;
      font-size: 3em;
      font-weight: 300;
      font-variant: all-small-caps;
    }

    
  } /* App-Main */

  .records {
    display: grid;
    grid-auto-flow: row;
    min-height: 100%;
    max-width: 100%;
    overflow-y: auto;

    // Reset Margin and Padding for this div
    p,
    a,
    div,
    span,
    summary,
    details,
    h3 {
      margin: 0;
      padding: 0;
    }

    details.records-details[open] {
      summary.records-summary {
        border-bottom: 3px solid $primary-color;
        background-color: $background-color;

        &::after {
          content: "-";
        }
      }
    }
    details.records-details {
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: 0.5em 0.5em 0;
      margin: 0.25em 0;

      summary.records-summary {
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr auto;
        align-items: center;

        &::after {
          content: "+";
          display: block;
          grid-row: 1/3;
          text-align: center;
          align-self: end;

          color: $primary-color;
          font-size: 1.5em;
          font-weight: 900;
          width: 1em;
        }

        &:focus {
          outline: none;
        }

        &::-webkit-details-marker {
          display: none;
        }

        p:first-child {
          display: inline-grid;
          grid-auto-flow: column;
          grid-template-columns: 1fr auto;
          grid-gap: 5px;
          width: 100%;

          .record-title {
            font-weight: 600;
            color: $primary-color;
            text-shadow: 0 0 0.5px #555;
          }
          .record-research-url a {
            text-decoration: none;
            color: $link-color;
            font-size: 75%;

            &::before {
              content: "« ";
              font-size: 120%;
            }
            &::after {
              content: " »";
              font-size: 120%;
            }
          }
        }

        p.record-research-author {
          font-size: 75%;
          grid-row: 2/2;
          grid-column: 1/1;

          .author-name {
            &::after {
              content: ", ";
            }
          }

          .author-name-label {
            font-weight: 600;

            &::after {
              content: ": ";
            }
          }
        }
      }

      p.record-coauthors {
        font-size: 75%;
        .record-coauthors-label {
          font-weight: 600;
          &::after {
            content: ": ";
          }
        }
      }
      table.sdg-records {
        min-width: 100%;
        font-size: 75%;
        margin: 5px 0;
        border-bottom: 2px solid $primary-color;
        border-top: 2px solid $primary-color;

        thead {
          text-align: left;
          background-color: $background-color;

          th {
            padding: 5px;
            border-bottom: 1px solid $primary-color;
          }
        }
        tbody {
          td {
            padding: 0 5px;
          }
        }
      }
    }
  }
  &>.records {
    padding: 10px 25px;
    align-items: flex-start;
    align-content: flex-start;
  }
} /* App */
