@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

body {
  padding: 25px;
  font-family: "Noto Sans", Arial, sans-serif;
  line-height: 1.5em;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

header {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
}

header img {
  max-height: 200px;
  max-width: 100%;
}

article {
  padding: 28px 0px;
}

.cards {
  display: grid;
  grid-auto-flow: column;
  column-gap: 25px;
}

.card {
  padding: 18px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 3px #232323;
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.card .card-title {
  font-size: 1.8em;
  padding-bottom: 15px;
  font-weight: 600;
  color: #006b59;
}

.card .card-action {
  height: 50px;
  width: 100%;
  background-color: #009a80;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-action a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  text-transform: capitalize;
}
