$primary-color: rgb(0, 154, 129);
$secondary-color: rgb(85, 102, 128);
$primary-text: rgb(0, 0, 0);
$secondary-text: rgb(230, 230, 230);
$error-color: rgb(231, 82, 68);
$background-color: rgb(209, 232, 223);
$link-color: rgb(128, 74, 90);
$box-shadow: #ababab;
$box-shadow-dark: #565656;

$app-height: 80vh;
$app-width: 80%;
$app-height-small: 90vh;
$app-width-small: 90%;
$sidebar-width: 25%;
$header-height: 150px;
$goal-image-size: 13vmin;
$goal-image-border: 0.5vmin;


#root{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-text;
}
.App {
  width: $app-width;
  height: $app-height;

  background-color: #eee;

  -webkit-box-shadow: 0px 0px 7px 2px $box-shadow;
  -moz-box-shadow: 0px 0px 7px 2px $box-shadow;
  box-shadow: 0px 0px 7px 2px $box-shadow;
  border: 3px solid #ababab;
  border-radius: 10px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: $sidebar-width 1fr;
  overflow: scroll;

  @media only screen and (max-width: 768px) {
    width: $app-width-small;
    height: $app-height-small;

    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .App-sidebar {
    background-color: $background-color;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr 75px;
    justify-content: start;

    max-height: $app-height;
    position: sticky;
    top: 0;
    left: 0;
    overflow-y: scroll;

    font-size: calc(9px + 0.8vmin);
    color: $primary-text;

    -webkit-box-shadow: 1px 0px 7px 0px $box-shadow-dark;
    -moz-box-shadow: 1px 0px 7px 0px $box-shadow-dark;
    box-shadow: 1px 0px 7px 0px $box-shadow-dark;

    @media only screen and (max-width: 768px) {
      grid-auto-flow: column;
      grid-template-columns: auto 1fr 75px;
      grid-template-rows: auto;
    }

    .App-header{
      background: url("./images/header.jpg");
      background-position: center;
      background-size: cover;
      height: $header-height;
      border-bottom: 5px solid $primary-color;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .App-info {
      padding: 16px;

      p:not(:last-child) {
        margin: 0;
      }

      p:first-child {
        text-transform: uppercase;
        color: grey;
      }

      p:nth-child(2) {
        font-size: 1.2rem;
        font-weight: 300;
        border-bottom: 1px solid grey;
        padding-bottom: 12px;
      }

      p:last-child {
        font-size: calc(0.4rem + 1vh);
      }

      @media only screen and (max-width: 768px) {
        grid-column: 1/2;
        p:first-child{
          display: none;
        }
        p:nth-child(2){
          padding-bottom: 6px;
        }
        p:last-child{
          margin: 6px 0;
        }
      }
    }

    .App-footer {
      background-color: $primary-color;
      background-image: url("./images/NMBUwhite.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;


      @media only screen and (max-width: 768px) {
        background-image: url("./images/NMBUwhiteRot.svg");
        background-position: top;
        grid-column: 3/3;
      }
    }


  }

  /* .App-link { */
  /*   color: $link-color; */
  /* } */

  .App-main {
    /* max-width: calc($app-width - $sidebar-width); */
    padding: 25px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr auto;
    background-color: whitesmoke;
    grid-gap: 10px;

    @media only screen and (max-width: 768px) {
      flex: 1;
      overflow-y: scroll;
    }

    form{
      display: grid;
      grid-gap: 10px;
      justify-content: flex-start;
      align-items: center;
      grid-template-columns: max-content 1fr;
      grid-auto-rows: max-content;

      @media only screen and (max-width: 850px) {
        grid-template-columns: 1fr;
      }

      .app-input-label{
        text-align: right;
        font-weight: 600;

        @media only screen and (max-width: 850px) {
          text-align: inherit;
        }
      }

      .App-Form-Inputs {
        font-size: 16px;
        font-weight: 400;
        padding: 8px 12px;
        display: inline-block;
        border: 1px solid $secondary-text;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100%;
      }

      .css-2b097c-container{
        padding: 0;
      }
    }

    .nav-btn {
      text-align: right;

      .App-Nav-Btn {
        min-width: 100px;
        padding: 8px;
        font-size: 1rem;
        font-weight: 400;
        background-color: $primary-color;
        color: $secondary-text;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
      }

      .App-Nav-Btn:first-child {
        border-right: 1px solid rgba($background-color, 0.5);
      }


      @media only screen and (max-width: 768px) {
        &:after {
          content: "";
          display: block;
          height: 8px;
        }
      }
    }

    .image-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, $goal-image-size);
      grid-template-rows: repeat(auto-fit, $goal-image-size);
      grid-gap: 8px;

      input {
        width: $goal-image-size;
        height: $goal-image-size;
        cursor: pointer;
      } /* input */

      input.selected {
        width: $goal-image-size - 2 * $goal-image-border;
        height: $goal-image-size - 2 * $goal-image-border;
        cursor: pointer;
        border: $goal-image-border solid $link-color;
      } /* input.selected */
    } /* image-grid */

    .goal-details{
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: max-content 1fr;
      grid-gap: 3px;

      p {
        margin: 0;
        padding: 10px;
        font-size: 0.9rem;
      }

      p:nth-child(2n) {
        background-color: rgba($background-color, 0.4);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      p:nth-child(2n+1) {
        font-weight: 700;
        text-transform: uppercase;
        color: whitesmoke;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }


    .target-list {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      grid-gap: 10px;

      .target-group>div>label{
        display: grid;
        grid-auto-flow: column;
        padding: 4px 8px;
        grid-template-columns: 50px 1fr;
        border-bottom: 2px solid lightgrey;
        grid-gap: 10px;

        button {
          width: 50px;
          height: 35px;
          font-size: calc(6px + 1.3vmin);
          background-color: $primary-color;
          color: $secondary-text;
          text-align: center;
        } /* BUTTON END */

        p {
          text-overflow: ellipsis;
          font-size: calc(8px + 0.8vmin);
          margin: 0;
          padding-bottom: 10px;
          white-space: nowrap;
          overflow: hidden;

        } /* P END */

        p:hover{
          text-overflow: unset;
          white-space: initial;
          overflow: unset;
        }


      } /* .target-group>div>label END */

    } /* target-list END */
  } /* App-Main */
} /* App */



